
.header-gradient {
    
    padding: 1em;
    margin-top: 1em;
}

h1.divi-purple {
    background: rgb(108,46,185);
    background: linear-gradient(90deg, rgba(108,46,185,1) 45%, rgba(246,205,4,1) 100%);
    color: white;
    font-size: 23px;
    margin: 0.7em 0.7em 0 0;
    padding: 1em;
}

.ds45 {
    float: right;
}
.ds45 a {
    color: black;
    text-decoration: none;
}
.ds45 a:hover {
    color: white;
}


/* Select */

/* Ensure the dashicons font is loaded */
/*@import url('https://s.w.org/wp-includes/css/dashicons.css?ver=6.0');*/

/* Set the width of the Select2 container */
.select2-container {
    width: 200px !important;
}

/* Style the option elements with padding for the icons */
#menu-icon-select option {
    padding-left: 25px;
    display: flex;
    align-items: center;
}

/* Add Dashicons before the text */
#menu-icon-select option:before {
    font-family: dashicons;
    content: attr(data-icon);
    margin-right: 8px;
    display: inline-block;
    font-size: 1.5em;
}